<html>
<head>
    <title>Move Sub Tasks</title>
    <meta name="decorator" content="atl.general"/>
    $webResourceManager.requireResource("jira.webresources:jira-fields");
    $webResourceManager.requireResourcesForContext("info.renjithv.jira.plugins.bulkmove.context");
</head>
<body>
<h1>Select Sub-tasks</h1>

<form action="/secure/BulkMoveSubtasks.jspa" method="post" class="aui unsectioned">
    <input type="hidden" name="parentId" value="${action.parentIssueId}">

    <div class="form-body">
        <table class="aui tablesorter" id="subtasks-table">
            <thead class="header">
            <tr>
                <th class="aui-table-column-unsortable"><input class="checkbox" type="checkbox" id="bulkmoveselectall">
                </th>
                <th>Type</th>
                <th class="aui-table-column-issue-key">Issue Key</th>
                <th>Summary</th>
                <th>Assignee</th>
                <th>P</th>
                <th>Status</th>
                <th>Resolution</th>
            </tr>
            </thead>
            <tbody>
                #foreach($issue in ${action.subTasks})
                    #set ($checkboxName = "checkbox-${issue.id}")
                <tr>
                    <td>
                        <input class="checkbox issuecheckbox" type="checkbox" name="$checkboxName" value="${issue.id}"
                            #if ($action.isSelected($checkboxName))
                               checked
                            #end

                                >
                    </td>
                    <td>
                        <img src="$issue.issueTypeObject.completeIconUrl" alt="$issue.issueTypeObject.name" title="$issue.issueTypeObject.name"/>
                    </td>
                    <td>
                        $issue.key
                    </td>
                    <td>
                        $issue.summary
                    </td>
                    <td>
                        #if($issue.assignee)
                            $issue.assignee.displayName
                        #else
                            Unassigned
                        #end

                    </td>
                    <td>
                        <img src="$issue.priorityObject.completeIconUrl" alt=""/><span data-id="$velocityCount"></span>
                    </td>
                    <td>
                        <img src="$issue.statusObject.completeIconUrl" alt=""/> $issue.status.name<span data-id="$velocityCount"></span>
                    </td>
                    <td>
                        <em>
                            #if($issue.resolution.name)
                                $issue.resolution.name
                            #else
                                Unresolved
                            #end<span data-id="$velocityCount"></span>
                        </em>
                    </td>
                </tr>
                #end
            </tbody>
        </table>

        <div class="field-group">
            <label for="new-parent-issue" accesskey="e">New Parent Issue</label>
            <select class="aui-field-issuepicker hidden" name="new-parent-issue" multiple="multiple"
                    id="new-parent-issue"
                    data-popup-link-message="[Select New Parent Issue]"
                    data-popup-width="650"
                    data-popup-height="500"
                    data-remove-on-un-select="true"
                    data-ajax-options.query="true"
                    data-ajax-options.url="${req.contextPath}/rest/api/1.0/issues/picker"
                    data-ajax-options.data.current-issue-key="$!issue.key"
                    data-ajax-options.data.show-sub-tasks="false"
                    data-ajax-options.data.show-sub-task-parent="false"
                    data-ajax-options.data.current-project-id="">
            </select>
        </div>

        #if($action.hasAnyErrors())
            <div id="error-container" class="aui-message error">

                #foreach ($error in $action.getErrorMessages())
                    <p>$action.htmlEncode(${error})</p>
                #end

            </div>
        #end
        <div class="buttons-container form-footer">
            <div class="buttons">
                <input accesskey="s" class="button" id="move-subtasks-submit" name="Move Sub-tasks"
                       title="Press Ctrl+Alt+s to submit this form" type="submit" value="Move Sub-tasks">
                <a accesskey="`" class="cancel" href="/browse/${action.issue.key}" id="move-subtasks-cancel"
                   title="Press Ctrl+Alt+` to cancel">Cancel</a>
            </div>
        </div>
</form>
</body>
</html>